:root {
  --color-primary-200: #F3EED9;
  --color-primary-400: #824936;
  --color-neutral-100: #FFF;
  --color-neutral-900: #222c2a;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.split > div {
  margin: 0 0 0 2rem;
}

header {
  background-color: var(--color-primary-200);
  padding: 10rem 0;
}